:org.apache.felix.configadmin.revision:=L"1"
alias=""
apiKey="f9RW604uELZ6Y7agqLhZNu6ahWtVA4TMcvmoU-oPFYXX5YDXufvBwVTHtsvKsuMtdVINR4ePZmXnrC3J-Cc-mw\=\="
baudRate=I"9600"
bucket="demo"
databits=I"8"
enabled=B"true"
id="edmi0"
isReadOnly=B"false"
maxQueueSize=I"5000"
measurement="data"
noOfCycles=I"1"
org="AT"
parity="NONE"
portName="COM8"
queryLanguage="INFLUX_QL"
service.factoryPid="Bridge.EDMI"
service.pid="Bridge.EDMI.9a1844f1-c077-4e9a-a220-0046ee941b6d"
stopbits="ONE"
url="http://localhost:8086"
