:org.apache.felix.configadmin.revision:=L"7"
alias=""
apiKey="f9RW604uELZ6Y7agqLhZNu6ahWtVA4TMcvmoU-oPFYXX5YDXufvBwVTHtsvKsuMtdVINR4ePZmXnrC3J-Cc-mw\=\="
bucket="demo"
enabled=B"true"
id="influx0"
isReadOnly=B"false"
maxQueueSize=I"5000"
measurement="data"
noOfCycles=I"1"
org="AT"
persistencePriority="MEDIUM"
queryLanguage="INFLUX_QL"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.b98d5a58-9e03-444a-8e89-c1d769ab93ae"
url="http://localhost:8086"
